/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('../img/andrew-neel-cckf4TsHAuw-unsplash.jpg');
    background-size: 100vw 100vh;       
    font-family: 'Source Code Pro', monospace;
    height: 100vh;  
    font-size: 12px;
    -webkit-box-shadow: inset 0px 0px 30px 18px rgba(0, 0, 0, 1);
    -moz-box-shadow:    inset 0px 0px 30px 18px rgba(0, 0, 0, 1);
    box-shadow:         inset 0px 0px 30px 18px rgba(0, 0, 0, 1);   
}
  
/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    }
}

@media (min-width: 1000px) {
  body {
    font-size:22px;
    }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  
.menu {
    background-color: white;
    position: fixed; 
    width: 100vw;
    top: 0;
    z-index: 1;    
}

.menu a{
    display: block;
    padding: 10px 20px;
    transition: background-color 2s, color 1s;
}
  
.menu a:hover{
    background-color:teal;
    color: whitesmoke;
}

.menu li {
    list-style: none;
}
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo{
    transform:scale(0.1) translate(50vh);
    opacity: 0;
    animation: ease 2s animacaoTitulo forwards ;
  }

  @keyframes animacaoTitulo{
    100%{
      transform:scale(1) translate(0);
      opacity: 1;
    }
  }
   
  .site-subtitle,
  .site-title {    
    text-align: center;      
  }

  .site-title{
    color: goldenrod;
    font-family: 'Alfa Slab One', cursive;
    font-size: 4em;
    text-shadow:0px 5px 5px rgba(0,0,0, 5);
  } 
  
  .site-subtitle {
    color: lightgray;
    font-family: 'Press Start 2P', cursive;
    font-style: italic; 
    line-height: 1.8em; 
    text-shadow:0px 5px 5px rgba(0,0,0, 5);      
  }

  .contato,
  .portfolio,
  .sobre {
    background-image: url('../img/fundo.jpg');
    background-size: 100vw 100vh;     
    padding: 2em;
    min-height: 100vh;
  }

  .contato h2,
  .portfolio h2,
  .sobre h2 {        
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;       
    margin-bottom: 1.5em;
  }

  .sobre p{
    color: white;
    text-indent: 5em;
    text-align: justify;
  }


  .sobre img{
    background-image: url('/img/PauloCamargo.jpg');
    height: 260px;
    width: 280px;
    object-fit: cover;    
    border-radius: 50%;
    border:10px solid whitesmoke;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 1.5);
    
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
    min-height: 100vh;
    min-width: auto;
  }
  

  @media (min-width: 590px){
    .portfolio .grid {
      grid-template-columns: 300px 300px;    
      justify-content: center; 
    }
  }

  @media (min-width: 880px){
    .portfolio .grid {
      grid-template-columns: repeat(3,300px);   
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 32px  );

    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {    
    height: 260px;
    width: 280px;
    object-fit: cover;
    object-position: center bottom;  
    transform: scale(1);  
    transition: transform 400ms;
  }

.img-portfolio:hover {
    transform: scale(1.1) /*rotate(5deg)*/;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow:0px 10px 10px rgba(0,0,0, 5);
}
